{% extends "layout.html" %}

{% block content %}
<div class="jumbotron text-center">
  <div class="container">
    <a href="/" class="lang-logo">
      <img id="logoapp" src="/images/iconocasa.jpg">
    </a>
    <h1> SMART HOUSE 2021</h1>
    <p> Proyecto de ingeneria electronica smart house 2021 - utilizando PHP implementado en Heroku y Github.</p>
    <a type="button" class="btn btn-lg btn-default" href="https://devcenter.heroku.com/articles/getting-started-with-php"><span class="glyphicon glyphicon-flash"></span> Getting Started with PHP</a>
    <a type="button" class="btn btn-lg btn-primary" bhref="https://github.com/heroku/php-getting-started"><span class="glyphicon glyphicon-download"></span> Source on GitHub</a>
  </div>
</div>
<div class="container">
  <div class="alert alert-info text-center" role="alert">
    Hora de encendido  <a href="https://www.youtube.com/watch?v=sYqjs8TKkOE" class="alert-link"> app on youtube</a> tutorial.
  </div>
  <hr>
  <div class="row">

    <div class="col-md-6">
      <h3><span class="glyphicon glyphicon-link"></span> Característica de la app.</h3>
      <ul>
        <li>Se implementó esta aplicación, utilizando heroku y Github.</li>
        <li>Versión 2.0.0</li>
        <li>Versatilidad, automatización y eficiencia </li>
        <li>Conectado al Internet de las Cosas (IoT, por sus siglas en inglés, Internet of Things) </li>

      </ul>
      <h3><span class="glyphicon glyphicon-link"></span> Integrantes del proyecto</h3>
      <ul>
        <li>Ing. Luis Rojano</li>
        <li>Ing. Gustavo Lora</li>
        <li>Ing. Jair Montalvo</li>
        <li>Ing. Luis Garcia</li>
      </ul>
    </div>
  </div> <!-- row -->
   <div class="jumbotron" role="alert">
    Ingenieria Electronica 
   </div>
</div>


{% endblock %}
