<nav class="navbar navbar-default navbar-static-top navbar-inverse">
  <div class="container">
    <ul class="nav navbar-nav">
      <li class="active">
        <a href="https://www.pca.edu.co" target="_blank"><span class="glyphicon glyphicon-home"></span> PCA</a>
      </li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li class="navbar-right">
        <a href="https://smarhouse2021.herokuapp.com/login"target="_blank"><span class="glyphicon glyphicon-log-in"></span> Ingresar</a>
      </li>
      <li class="navbar-right">
        <a href="https://devcenter.heroku.com"target="_blank"><span class="glyphicon glyphicon-book"></span> Registrarse</a>
      </li>
    </ul>
  </div>
</nav>
